.header-content{
min-height: 75vh;
background:  url("../../assets/images/planet-earth-background.jpg") center/cover no-repeat;
flex-direction: column ;



}
.header-title{
    font-size: -1rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 770px;


  
}


